body {
    background-color: lightblue;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

$myGray : rgb(242,242,242);

.transparent-card {
    border-radius: 10px;
    background-color: rgba($color: $myGray, $alpha: 0.7);
    padding: 25px;
}

#notes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#notes-list {
    overflow: auto;
    height: 400px;
}

.note {
    margin-bottom: 15px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 22.5px;

    #hours {
        span {
            font-size: 4.2rem;
        }
    }

    #date {
        span {
            font-size: 1.32rem;
        }
        padding-bottom: 15px;
    }
}

#weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

#refresh-weather {
    position: absolute; 
    top: 11.25px;
    right: 11.25px;
}

#current {
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.weather-card:nth-child(2) {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.condition-2 {
    height: 3rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hi-lo-temp {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    p {
        width: 50%;
    }

    p:nth-child(odd) {
        text-align: left;
        color: gray;
    }

    p:nth-child(even) {
        text-align: right;
    }
}